# Ignore virtual environment
.venv/
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore VS Code settings
.vscode/

# Ignore environment variables file
.env
.readme

# Ignore log files
*.log


# Ignore compiled files
*.pyc

# Ignore database files
shared/